<body>
  <div id="outer">
    <div id="inner">
      <div id="header">
        {{{header "APanel" this}}}
      </div>

      <div id="body">
        WIP
        <a class="uk-button uk-button-primary uk-button-large uk-border-pill uk-width-1-1 uk-margin-top"
          href="/webview.php/admin/markdown">Markdown Editor</a>
      </div>
    </div>

    {{{changeLanguageModal}}}
  </div>

  <!-- Empty. use as reference for now -->
  <script type="text/javascript">
    var userId = {{{ userId }}}
    var token = {{{ token }}}
    var external = {{{ external }}}
    var headers = {{{ headers }}}
  </script>
  <script type="text/javascript" src="/resources/js/uikit.min.js"></script>
  <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
  <script type="text/javascript" src="/resources/js/common.js"></script>
  <script type="text/javascript" src="/resources/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="/resources/js/smooth-scrollbar.js"></script>
  <script type="text/javascript" src="/resources/js/change-language.js"></script>
  <script type="text/javascript">
    var ps = Scrollbar.init($("#body")[0])
    $("#external").attr("href", "native://browser?url=" + encodeURIComponent(window.location.protocol + "//" + window.location.host + "/webview.php/admin/index?user_id={{{user_id}}}&token={{{token}}}"))
  </script>
</body>