<div id="outer">
  <div id="inner">
    <div id="header">
      {{{header i18n/aboutServer this}}}
    </div>

    <div id="body">
      <div class="uk-container uk-container-small">
        <h4 class="uk-text-bold">SunLight Project</h4>
        <p>
          Branch: {{serverInfo/branch}} <br>
          Commit: {{serverInfo/commit}} <br>
          Date: {{serverInfo/commitDate}} <br>
          Client Version: {{serverInfo/clientVersion}} <br>
          Bundle Version: {{serverInfo/bundleVersion}} <br>
          {{i18n/currentOnline}}: {{serverInfo/currentOnline}} <br>
          Запущен {{serverInfo/uptime}} <br>
          {{#if serverInfo/supportMail}}
          {{serverInfo/supportMail}}
          {{/if}}
        </p>
        {{#if support/mail}}
        <a class="uk-button uk-button-primary uk-border-pill"
          href="native://mail?addr={{support/mail}}&subject=Bug%20Report&body=Describe%20in%20detail%20the%20actions%20before%20which%20the%20bug%20occurred.%20It%20is%20also%20recommended%20to%20indicate%20the%20version%20of%20Android.">{{i18n/bugReport}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<script>

</script>