{{#each eventData}}
<tr class="eventData">
  <td style="font-size: .9rem;">{{this/type}}</td>
  <td class="uk-text-nowrap" style="font-size: .9rem;" uk-tooltip="{{../i18n/jpTimeZone}}">
    {{momentFormat this/start_date "DD.MM.YY HH:mm"}}</td>
  <td class="uk-text-nowrap" style="font-size: .9rem;" uk-tooltip="{{../i18n/jpTimeZone}}">
    {{momentFormat this/end_date "DD.MM.YY HH:mm"}}</td>
  <td class="uk-text-break">{{notAvailable this/ptRank}}</td>
  <td>{{notAvailable this/scoreRank}}</td>
  <td>{{notAvailable this/lives_played}}</td>
</tr>
{{/each}}