//- format: [pageName, iconName, path]
-
  var allItems = [
    [i18n.common.announce, "home", "/webview.php/announce/index"], 
    // [i18n.common.secretbox, "album","/webview.php/secretbox/list"],
    [i18n.common.profile, "user", "/webview.php/profile/index"],
    [i18n.common.settings, "settings", "/webview.php/settings/index"],
    [i18n.common.aboutServer, "nut", "/webview.php/server/info"]
  ]

ul(class="uk-navbar-nav")
  li
    a(uk-icon="menu")
    div(class="uk-navbar-dropdown")
      ul(class="uk-nav uk-navbar-dropdown-nav")
        each item in allItems
          - var className = ""
          if pageTitle == item[0]
            - className = "uk-active"
          li(class=className)
            a(href=item[2])
              span(uk-icon=item[1] class="uk-icon")
              |  !{item[0]}
        
        if isAdmin
          - var className = pageTitle == "APanel" ? "uk-active" : ""
          li(class=className)
            a(href="/webview.php/admin/index")
              span(uk-icon="star" class="uk-icon")
              |  APanel
        li(class="uk-nav-divider")

        li
          a(id="changeLanguageButton")
            span(uk-icon="world" class="uk-icon")
            |  Change Language
        if webview
          li
            a(id="external")
              span(uk-icon="expand" class="uk-icon")
              |  Open In Browser