extends ../../includes/head.pug

block body
  div(class="uk-cover-container uk-overflow-hidden sl-login-hello-container")
    div(class="uk-overlay uk-overlay-primary uk-position-bottom uk-light" uk-scrollspy="cls: uk-animation-slide-bottom-medium")
      h2 #{i18n.hello}
      p !{nl2br(i18n.introduction)}
      a(class="uk-button uk-button-default uk-border-pill" href="/webview.php/login/login") #{i18n.login}
      if registrationEnabled
        a(class="uk-button uk-button-default uk-border-pill uk-margin-small-left" href="/webview.php/login/startUp") #{i18n.registration}
      a(class="uk-button uk-button-default uk-border-pill uk-margin-small-left" href="/webview.php/tos/read") #{i18n.tos}
      a(id="changeLanguageButton" class="uk-icon-button uk-float-right" uk-icon="icon: world; ratio: 1.3")

  include ../../includes/changeLanguage.pug
