extends ../../includes/head.pug

block variables
  script.
    var enableRecaptcha = !{enableRecaptcha}

block body
  style.
    .sl-icon-back {
      left: 0;
      top: 0;
      margin: 10px;
      border-radius: 12px;
      height: 40px;
      width: 40px;
      position: absolute;
    }
  
  div(class="uk-cover-container sl-login-login-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-overflow-hidden uk-light")
    #backButton(class="uk-position-z-index" hidden)
      a(onclick="window.history.back()" class="uk-icon-button sl-icon-back" uk-icon="icon: arrow-left; ratio: 1.5")
    if webview
      div(class="uk-position-z-index uk-position-right uk-dark" style="margin: 12px")
        a(id="external" class="uk-button uk-button-default uk-button-small uk-border-pill") #{i18n.openInBrowser}
    
    // create overlay
    div(class="uk-position-cover uk-overlay-primary")
    div(class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade")

      form(id="loginForm" hidden)
        // email input
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user")
            input(id="login" class="uk-input uk-border-pill" required placeholder="Email / User ID")
        // password input
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock")
            input(id="password" class="uk-input uk-border-pill" required placeholder=i18n.password + " / Handover ID" type="password" autocomplete="on")
        // submit button
        .uk-margin-small
          button(type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1") #{i18n.login}

        .uk-text-center
          a(class="uk-link-reset uk-text-small uk-margin-top uk-button-text" 
          data-uk-toggle="target: #loginForm, #recoverForm; animation: uk-animation-fade") #{i18n.forgotPassword}
          br
          a(class="uk-link-reset uk-text-small uk-margin-top uk-button-text"
          data-uk-toggle="target: #loginForm, #recoverHelpForm; animation: uk-animation-fade") #{i18n.needHelpWithRecovery}

      form(id="confirmCodeForm" hidden)
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock")
            input(id="code" class="uk-input uk-border-pill" required placeholder=i18n.confirmationCode type="text")
        .uk-margin-small
          button(type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1") #{i18n.send}
        .uk-text-center
          a(class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: #confirmCodeForm, #loginForm; animation: uk-animation-fade")
            span(data-uk-icon="arrow-left") #{i18n.backToLogin}

      form(id="recoverForm" hidden)
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail")
            input(id="mail" class="uk-input uk-border-pill" required placeholder=i18n.email type="email")
        .uk-margin-small
          button(type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1") #{i18n.send}
        .uk-text-center
          a(class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: #recoverForm, #loginForm; animation: uk-animation-fade")
            span(data-uk-icon="arrow-left") #{i18n.backToLogin}
      
      form(id="recoverHelpForm" hidden)
        .uk-text-center
          p !{i18n.ifYouLostLoginDataContactUs}
        .uk-margin-small
          a(class="uk-button uk-button-primary uk-border-pill uk-width-1-1 uk-margin-small external-link" href="https://vk.me/sunlight_project") #{i18n.writeToVk}
        .uk-text-center
          a(class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: #recoverHelpForm, #loginForm; animation: uk-animation-fade")
            span(data-uk-icon="arrow-left") #{i18n.backToLogin}
    
    div(id="loginSuccess" class="uk-overlay uk-position-bottom" hidden)
      h1 !{i18n.success}
      p !{i18n.successDescriptionLogin}


block append scripts
  if enableRecaptcha
    script(src="https://www.google.com/recaptcha/api.js?render=" + siteKey)
