extends ../../includes/head.pug

block variables
  script.
    var recaptchaSiteKey = "!{siteKey}" // string
    var publicKey = !{publicKey} // string
    var enableRecaptcha = !{enableRecaptcha} // boolean

block body
  style.
    .sl-icon-back {
      left: 0;
      top: 0;
      margin: 10px;
      border-radius: 12px;
      height: 40px;
      width: 40px;
      position: absolute;
    }
  
  div(class="uk-cover-container sl-login-startup-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-overflow-hidden uk-light")
    #backButton(class="uk-position-z-index" hidden)
      a(onclick="window.history.back()" class="uk-icon-button sl-icon-back" uk-icon="icon: arrow-left; ratio: 1.5")
    div(class="uk-position-z-index uk-position-right uk-dark" style="margin: 12px")
      a(id="external" class="uk-button uk-button-default uk-button-small uk-border-pill" hidden) #{i18n.openInBrowser}
    
    div(class="uk-position-cover uk-overlay-primary")
    div(class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade")
      form(id="startupForm")
        // nickname
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user")
            input(id="nickname" class="uk-input uk-border-pill" required placeholder=i18n.nickname type="text")
        // email
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail")
            input(id="email" class="uk-input uk-border-pill" required placeholder=i18n.email type="email" autocomplete="email")
        // password
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock")
            input(id="password" class="uk-input uk-border-pill" required placeholder=i18n.password type="password" autocomplete="new-password")
        // password confirm
        .uk-margin-small
          div(class="uk-inline uk-width-1-1")
            span(class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock")
            input(id="password-confirm" class="uk-input uk-border-pill" required placeholder=i18n.repeatPassword type="password" autocomplete="new-password")
        // buttons
        .uk-margin-small
          button(type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1") #{i18n.send}
    div(id="startupSuccess" class="uk-overlay uk-position-bottom" hidden)
      h1 !{i18n.success}
      p !{i18n.successDescription}


block scripts
  if enableRecaptcha
    script(src="https://www.google.com/recaptcha/api.js?render=" + siteKey)
