include helpers.pug

doctype html
html
  head
    title #{pageTitle} | SunLight
    meta(name="charset", content="utf-8") 
    meta(http-equiv="X-UA-Compatible", content="ie=edge, chrome=1")
    meta(name="format-detection", content="telephone=no")
    if webview
      meta(name="viewport", content="width=device-width, user-scalable=no")
      script.
        var width = Math.max(window.innerWidth || 0)
        if (width < 655) {
          document.querySelector("meta[name=viewport]").setAttribute("content", "width=650, user-scalable=no")
        }
    else
      meta(name="viewport", content="width=device-width")
    
    block stylesheets
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap")
      link(rel="stylesheet", href=webpackAssets.main.css)
      if webview
        link(rel="stylesheet", href=webpackAssets.webview.css)
    
    - var i18nStr = JSON.stringify(i18n)
    script.
      var userId = !{userId}
      var authToken = "!{token}"
      var isWebview = !{webview}
      var isAdmin = !{isAdmin}
      var headers = !{headers}
      var i18n = !{i18nStr}
    block variables

  body
    block body
    
    block scripts
    
    script(src=webpackAssets.main.js) 
