<nav class="uk-navbar-container sl-navbar-container" style="z-index:1000;" uk-navbar>

  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a uk-icon="menu"></a>
        <div class="uk-width-auto uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li {{#equal i18n/pageName i18n/announce}} class="uk-active" {{/equal}}>
              <a href="/webview.php/announce/index" {{#equal i18n/pageName i18n/announce}} onclick="return false;"
                {{/equal}}>
                <span uk-icon="home" class="uk-icon"></span> {{i18n/announce}}
              </a>
            </li>
            <li {{#equal i18n/pageName i18n/profile}} class="uk-active" {{/equal}}>
              <a href="/webview.php/profile/index" {{#equal i18n/pageName i18n/profile}} onclick="return false;"
                {{/equal}}>
                <span uk-icon="user" class="uk-icon"></span> {{i18n/profile}}
              </a>
            </li>
            <li {{#equal i18n/pageName i18n/settings}} class="uk-active" {{/equal}}>
              <a href="/webview.php/settings/index" {{#equal i18n/pageName i18n/settings}} onclick="return false;"
                {{/equal}}>
                <span uk-icon="settings" class="uk-icon"></span> {{i18n/settings}}
              </a>
            </li>

            <li {{#equal i18n/pageName i18n/aboutServer}} class="uk-active" {{/equal}}>
              <a href="/webview.php/server/info" {{#equal i18n/pageName i18n/aboutServer}} onclick="return false;"
                {{/equal}}>
                <span uk-icon="nut" class="uk-icon"></span> {{i18n/aboutServer}}
              </a>
            </li>

            <li class="uk-nav-divider"></li>
            <li><a id="changeLanguage"><span uk-icon="world" class="uk-icon"></span> Change Language</a></li>

            {{#if isAdmin}}
            <li class="uk-nav-divider"></li>
            <li {{#equal i18n/pageName "APanel"}} class="uk-active" {{/equal}}>
              <a href="/webview.php/admin/index" {{#equal i18n/pageName "APanel"}} onclick="return false;" {{/equal}}>
                <span uk-icon="star" class="uk-icon"></span> APanel
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a class="uk-text-bold uk-text-uppercase no-hover">{{i18n/pageName}}</a></li>
    </ul>
  </div>
</nav>