<style>
  .uk-radio {
    margin-left: 5px;
  }
</style>
<div id="outer">
  <div id="inner">
    <div id="header">
      {{{header i18n/settings this}}}
    </div>

    <div id="body">
      <div class="uk-container uk-container-small">
        <h3 class="uk-text-bold" href="#">{{i18n/mods}}</h3>
        <h4 class="uk-margin-remove">{{nl2br i18n/modsNotice}}</h4>
        <h4 uk-tooltip="title: {{nl2br i18n/vanishTooltip}}; pos: bottom-left" style="width: 60px;">Vanish:</h4>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="vanish" value="0" {{setChecked 0 mods/vanish}}>
          Disable</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="vanish" value="1" {{setChecked 1 mods/vanish}}>
          Hidden</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="vanish" value="2" {{setChecked 2 mods/vanish}}>
          Sudden</label>

        <h4 uk-tooltip="title: {{nl2br i18n/mirrorTooltip}}; pos: bottom-left" style="width: 60px;">Mirror:</h4>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="mirror" value="0" {{setChecked 0 mods/mirror}}>
          Disable</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="mirror" value="1" {{setChecked 1 mods/mirror}}>
          Enable</label>

        <h4 uk-tooltip="title: {{nl2br i18n/hpTooltip}}; pos: bottom-left" style="width: 50px;">HP:</h4>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="hp" value="0" {{setChecked 0 mods/hp}}>
          Default</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="hp" value="1" {{setChecked 1 mods/hp}}> 200
          HP</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="hp" value="2" {{setChecked 2 mods/hp}}> 1 HP
          (Sudden Death)</label>

        <h4 uk-tooltip="title: {{nl2br i18n/applyForEventTooltip}}; pos: bottom-left" style="width: 350px;">{{i18n/applyForEvent}}</h4>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="event" value="0" {{setChecked 0 mods/event}}>
          {{i18n/no}}</label>
        <label><input class="uk-radio sl-mod-radio" type="radio" name="event" value="1" {{setChecked 1 mods/event}}>
          {{i18n/yes}}</label>

        <hr>

        <h3 class="uk-text-bold" href="#">{{i18n/passwordAndEmail}}</h3>
        <h4 style="color: red">{{nl2br i18n/passwordNotice}}</h4>
        <div class="uk-flex uk-margin-small">
          <div class="uk-width-1-2">
            <div class="uk-margin-small">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input id="newPassword" class="uk-input uk-border-pill" required placeholder="{{i18n/newPassword}}"
                  type="password">
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input id="newPassword2" class="uk-input uk-border-pill" required placeholder="{{i18n/repeatPassword}}"
                  type="password">
              </div>
            </div>
            <button type="button" class="uk-button uk-button-primary uk-border-pill" onclick="changePassword()"
              style="white-space: nowrap;">{{i18n/changePassword}}</button>
          </div>
          <div class="uk-width-1-2 uk-margin-left">
            <div class="uk-margin-small">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input id="mail" class="uk-input uk-border-pill" required {{#if userData/mail}}
                  placeholder="{{userData/mail}}" {{else}} placeholder="{{i18n/email}}" {{/if}} type="text">
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input id="currentPassword" class="uk-input uk-border-pill" required
                  placeholder="{{i18n/currentPassword}}" type="password">
              </div>
            </div>
            <button type="button" class="uk-button uk-button-primary uk-border-pill" onclick="changeMail()"
              style="white-space: nowrap;">{{i18n/changeEmail}}</button>
          </div>
        </div>

        <hr>

        <h3 class="uk-text-bold" href="#">Массовое удаление карт</h3>
        <h4 class="uk-margin-remove">Позволяет удалить карты, которые не состоят в командах, не выбраны в качестве
          партнёра и не помечены замочком.</h4>
        <div class="uk-margin-small">
          <h4>Редкость:
            <label><input class="uk-radio sl-bulk-delete" type="radio" name="bulk-delete" value="4"> UR</label>
            <label><input class="uk-radio sl-bulk-delete" type="radio" name="bulk-delete" value="5"> SSR</label>
            <label><input class="uk-radio sl-bulk-delete" type="radio" name="bulk-delete" value="3"> SR</label>
            <label><input class="uk-radio sl-bulk-delete" type="radio" name="bulk-delete" value="2"> R</label>
            <label><input class="uk-radio sl-bulk-delete" type="radio" name="bulk-delete" value="1"> N</label>
          </h4>
          <button id="bulk-delete-button" type="button" class="uk-button uk-button-primary uk-border-pill"
            href="#bulk-delete-modal" uk-toggle disabled>Удалить!</button>
        </div>

        <hr class="uk-margin-bottom">
      </div>
    </div>

    <div id="bulk-delete-modal" uk-modal="bg-close: false;">
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h3 class="uk-modal-title uk-dark">Вы уверены?</h3>
        </div>
        <div class="uk-modal-body">
          <p id="deleteNotice" style="color: red" class="uk-dark"></p>
          <p>Введите пароль / Handover ID для подтверждения действия.</p>
          <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
              <input id="currentPasswordConfirmation" class="uk-input uk-border-pill" required
                placeholder="{{i18n/password}}" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                type="password">
            </div>
          </div>

          <h5 class="uk-text-muted uk-margin-remove">Выполнение запроса может занять до двух минут.</h5>
        </div>
        <div class="uk-modal-footer">

          <div class="uk-text-right">
            <button type="button" class="uk-button uk-button-primary uk-border-pill"
              onclick="bulkDelete()">Подтвердить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var publicKey = {{{ publicKey }}}
</script>
<script type="text/javascript">
  var RSAEncrypt = new JSEncrypt()
  RSAEncrypt.setKey(publicKey)

  function changePassword() {
    var currentPass = $("#currentPassword").val()
    var pass = $("#newPassword").val()
    var pass2 = $("#newPassword2").val()

    if (currentPass.length === 0) return sendNotification("{{i18n/currentPasswordBlank}}", "warning")
    if (currentPass.length > 32) return sendNotification("{{i18n/currentPasswordLimit}}", "warning")
    if (!checkPass(currentPass)) return sendNotification("{{i18n/currentPasswordInvalidFormat}}", "warning")

    if (pass.length === 0) return sendNotification("{{i18n/newPasswordBlank}}", "warning")
    if (pass.length > 32) return sendNotification("{{i18n/newPasswordLimit}}", "warning")
    if (!checkPass(pass)) return sendNotification("{{i18n/newPasswordInvalidFormat}}", "warning")
    if (pass != pass2) return sendNotification("{{i18n/passwordsNotMatch}}", "warning")

    $.when(sendRequest({
      module: "settings",
      action: "changePassword",
      password: RSAEncrypt.encrypt(xor(currentPass, parseQueryString(headers.authorize).token)),
      newPassword: RSAEncrypt.encrypt(xor(pass, parseQueryString(headers.authorize).token)),
      timestamp: Math.floor(Date.now() / 1000)
    })).done(function (response) {
      if (response.error || response.maintenance || !response) return

      $("#currentPassword, #newPassword, #newPassword2").val("")
      sendNotification("{{i18n/passwordChangeSuccess}}", "success")
    })
  }
  function changeMail() {
    var mail = $("#mail").val()
    var pass = $("#currentPassword").val()

    if (pass.length === 0) return sendNotification("{{i18n/currentPasswordBlank}}", "warning")
    if (pass.length > 32) return sendNotification("{{i18n/currentPasswordLimit}}", "warning")
    if (!checkPass(pass)) return sendNotification("{{i18n/currentPasswordInvalidFormat}}", "warning")

    if (mail.length === 0) return sendNotification("{{i18n/mailBlank}}", "warning")
    if (!checkMail(mail)) return sendNotification("{{i18n/mailInvalidFormat}}", "warning")

    $.when(sendRequest({
      module: "settings",
      action: "changeMail",
      mail: mail,
      password: RSAEncrypt.encrypt(xor(pass, parseQueryString(headers.authorize).token)),
      timestamp: Math.floor(Date.now() / 1000)
    })).done(function (response) {
      if (response.error || response.maintenance || !response) return

      $("#mail").attr("placeholder", mail)
      $("#mail, #currentPassword").val("")
      sendNotification("{{i18n/mailChangeSuccess}}", "success")
    })
  }
  function bulkDelete() {
    var pass = $("#currentPasswordConfirmation").val()

    if (pass.length === 0) return sendNotification("{{i18n/currentPasswordBlank}}", "warning")
    if (pass.length > 32) return sendNotification("{{i18n/currentPasswordLimit}}", "warning")
    if (!checkPass(pass)) return sendNotification("{{i18n/currentPasswordInvalidFormat}}", "warning")

    $.when(sendRequest({
      module: "settings",
      action: "bulkDelete",
      password: RSAEncrypt.encrypt(xor(pass, parseQueryString(headers.authorize).token)),
      rarity: parseInt($("input[name=bulk-delete]:checked").val()),
      timestamp: Math.floor(Date.now() / 1000)
    })).done(function (response) {
      if (response.error || response.maintenance || !response) return

      UIkit.modal("#bulk-delete-modal").hide()
      $("#currentPasswordConfirmation").val("")
      sendNotification(replacePlaceholders(response.response_data, {
        points: response.response_data.points
      }), "success")
    })
  }

  $(".sl-mod-radio").change(function () {
    sendRequest({
      module: "settings",
      action: "setMods",
      name: this.name,
      value: parseInt(this.value),
      timestamp: Math.floor(Date.now() / 1000)
    })
  })
  $(".sl-bulk-delete").change(function () {
    var rarity = {
      "1": "N",
      "2": "R",
      "3": "SR",
      "4": "UR",
      "5": "SSR"
    }
    $("#deleteNotice").text(replacePlaceholders("Вы собираетесь удалить карты редкости \{{rarity\}}. Это действие невозможно отменить!", {
      rarity: rarity[this.value]
    }))
    $("#bulk-delete-button").prop("disabled", false)
  })
</script>