<div id="outer">
  <div id="inner">
    <div id="header">
      <nav class="uk-navbar-container sl-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a class="uk-text-bold uk-text-uppercase no-hover">Maintenance</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="body">
      <div id="bodywrapper">
        <p>
          На данный момент сервер находится на техническом обслуживании для обновления. <br>
          {{#if haveDate}}
          <br>
          Ожидаемый период обновления: <br>
          {{startDay}} {{startTime}} ~ {{endDay}} {{endTime}} (UTC{{timeZone}})
          <br><br>
          {{/if}}
          Приносим извинения за неудобства и благодарим за терпение.
        </p>
        <hr>
        <p>
          We are currently performing maintenance for an update. <br>
          {{#if haveDate}}
          <br>
          Estimated maintenance period: <br>
          {{startDayEn}} {{startTimeEn}} ~ {{endDayEn}} {{endTimeEn}} (UTC{{timeZone}})
          <br><br>
          {{/if}}
          We apologize for the inconvenience, and thank you for your patience.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var userId = "{{{ userId }}}"
  var authToken = "{{{ authToken }}}"
  var external = {{{ external }}}
  var headers = {{{ headers }}}
  var publicKey = {{{ publicKey }}}
</script>
<script type="text/javascript">

</script>