<div id="outer">
  <div id="inner">
    <div id="header">
      {{{headerWithLanguage i18n/update this}}}
    </div>

    <div id="body">
      <div class="uk-container uk-container-medium uk-margin-top">
        {{#ifcond language "==" "ru"}}
        Пожалуйста, обновите клиент до последней версии.
        <br>
        Крайняя версия: {{latestVersion}}
        <br>
        Ваша версия: {{clientVersion}}
        <br><br>
        {{#if loggedIn}}

        {{#each download.urls}}
        <a href="{{url}}">Скачать с {{name}}</a> <br>
        {{/each}}

        {{else}}
        Чтобы скачать обновление, <a href="./login">войдите в свой аккаунт</a>.
        {{/if}}

        {{else ifcond language "==" "en"}}
        Please upgrade your client version to the latest.
        <br>
        Latest version: {{latestVersion}}
        <br>
        Your version: {{clientVersion}}
        <br><br>
        {{#if loggedIn}}
        
        {{#each download.urls}}
        <a href="{{url}}">Download from {{name}}</a> <br>
        {{/each}}
        
        {{else}}
        <a href="./login">Log in to your account</a> to download this update.
        {{/if}}

        {{else}}
        <h4 style="color:red"> {{i18n.notTranslated}}</h4>
        {{/ifcond}}
        <hr>
        {{#if supportMail.length}} <center>{{supportMail}}</center> {{/if}}
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    updateHref()
  })
</script>