extends ../../includes/head.pug

block body
  #outer
    #inner
      #header
        - var languageButton = true
        include ../../includes/header.pug
            
      #body
        div(class="uk-container uk-container-medium uk-margin-top")
          h4(style="color: red") !{i18n.maintenance.notice}

          h5(class="uk-margin-remove") !{i18n.maintenance.period}
          p(class="uk-margin-remove") !{startDate} ~ !{endDate} UTC!{timezone}<br>
            stub(style="color: blue") !{i18n.maintenance.periodCanBeChanged}
          h5 !{i18n.maintenance.apologize}
          if supportMail.length > 0
            hr
            center !{supportMail}
  include ../../includes/changeLanguage.pug