extends ../../includes/head.pug

block body
  #outer
    #inner
      #header
        - var languageButton = true
        include ../../includes/header.pug
            
      #body
        div(class="uk-container uk-container-medium uk-margin-top")
          h4(class="uk-margin-remove") !{i18n.update.notice}
          h5(class="uk-margin-small-top uk-margin-small-bottom")  !{i18n.update.currentVersion} !{latestVersion} <br>
            | !{i18n.update.userVersion} !{clientVersion}

          if loggedIn
            h5(class="uk-margin-remove") !{i18n.update.youCanDownloadANewVersionBellow}
            each source in downloadSources
              a(href=source.url class="external-link") !{i18n.update.downloadFrom} !{source.name} <br>
          else
            h5(class="uk-margin-remove") !{replaceHref(i18n.update.loginIntoYourAccountToDownload, "login", "'../login/login?type=0'")}
              
          if supportMail.length > 0
            hr
            center !{supportMail}
  include ../../includes/changeLanguage.pug