<style>
  #wrapper {
    background-image: url("/resources/img/login_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
  }

  .sl-icon-back {
    border-radius: 12px;
    left: 8px;
    height: 40px;
    position: absolute;
    top: 11px;
    width: 40px;
  }
</style>

<div id="wrapper"
  class="uk-cover-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-overflow-hidden uk-light">

  <!-- overlay -->
  <div class="uk-position-cover uk-overlay-primary"></div>
  <!-- /overlay -->
  <div class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
    <!-- login -->
    <form id="loginForm" class="toggle-base toggle-recover-help">
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
          <input id="login" class="uk-input uk-border-pill" required placeholder="Email / User ID" type="email">
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
          <input id="password" class="uk-input uk-border-pill" required placeholder="{{i18n/password}} / Handover ID"
            type="password" onkeydown="if (event.keyCode == 13) { doLogin (); blur(); }">
        </div>
      </div>

      <div class="uk-margin-small">
        <button type="button" class="uk-button uk-button-primary uk-border-pill uk-width-1-1"
          onclick="doLogin()">{{i18n/login}}</button>
        {{#unless external}}
        <a id="external"
          class="uk-button uk-button-primary uk-border-pill uk-width-1-1 uk-margin-small">{{i18n/openInBrowser}}</a>
        {{/unless}}
      </div>

      <div class="uk-text-center">
        <a class="uk-link-reset uk-text-small uk-margin-top uk-button-text"
          data-uk-toggle="target: .toggle-base; animation: uk-animation-fade">{{i18n/forgotPassword}}</a> <br>
        <a class="uk-link-reset uk-text-small uk-margin-top uk-button-text"
          data-uk-toggle="target: .toggle-recover-help; animation: uk-animation-fade">{{i18n.needHelpWithRecovery}}</a>
      </div>
    </form>
    <!-- /login -->

    <!-- recover password -->
    <form id="recoverForm" class="toggle-base" onkeydown="return event.key != 'Enter';" hidden>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
          <input id="mail" class="uk-input uk-border-pill" required placeholder="{{i18n/email}}" type="text">
        </div>
      </div>

      <div class="uk-margin-small">
        <button type="button" class="uk-button uk-button-primary uk-border-pill uk-width-1-1"
          onclick="recoverPassword()">{{i18n/send}}</button>
      </div>

      <div class="uk-text-center">
        <a class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: .toggle-base; animation: uk-animation-fade"><span data-uk-icon="arrow-left"></span>
          {{i18n/backToLogin}}</a>
      </div>
    </form>
    <!-- /recover password -->

    <form id="recoverHelpForm" class="uk-light uk-position-center toggle-recover-help" hidden>
      <p>{{i18n.ifYouLostLoginDataContactUs}}</p>

      <div style="width: 270px; margin: 0 auto" class="uk-margin-small">
        <a class="uk-button uk-button-primary uk-border-pill uk-width-1-1"
          href="native://mail?addr=admin@sunps.ru&subject=%D0%92%D0%BE%D1%81%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B0%D0%BA%D0%BA%D0%B0%D1%83%D0%BD%D1%82%D0%B0&body=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%BD%D0%B5%20%D0%BD%D0%B5%D0%BE%D0%B1%D1%85%D0%BE%D0%B4%D0%B8%D0%BC%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D0%B2%20%D0%B2%D0%BE%D1%81%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D1%83%D1%82%D0%B5%D1%80%D1%8F%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%B0%D0%BA%D0%BA%D0%B0%D1%83%D0%BD%D1%82%D0%B0.%0A%0AUser%20ID%3A%0A%D0%9D%D0%B8%D0%BA%3A%0A%D0%94%D0%B0%D1%82%D0%B0%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B2%D1%85%D0%BE%D0%B4%D0%B0%3A%0A%D0%94%D0%B0%D1%82%D0%B0%20%D1%80%D0%B5%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8%3A%0A%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%BC%D0%BE%D0%B5%D0%B3%D0%BE%20%D1%83%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%B0%3A">
          {{i18n.writeToEmail}}</a>
        <a class="uk-button uk-button-primary uk-border-pill uk-width-1-1 uk-margin-small"
          href="native://browser?url=https://vk.me/sunlight_project">{{i18n.writeToVk}}</a>
      </div>

      <div class="uk-text-center">
        <a class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: .toggle-recover-help; animation: uk-animation-fade"><span
            data-uk-icon="arrow-left"></span> {{i18n/backToLogin}}</a>
      </div>
    </form>

    <!-- confirm code -->
    <form id="confirmForm" onkeydown="return event.key != 'Enter';" hidden>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
          <input id="code" class="uk-input uk-border-pill" required placeholder="{{i18n/confirmationCode}}" type="text">
        </div>
      </div>

      <div class="uk-margin-small">
        <button type="button" class="uk-button uk-button-primary uk-border-pill uk-width-1-1"
          onclick="confirmCode()">{{i18n/send}}</button>
      </div>

      <div class="uk-text-center">
        <a class="uk-link-reset uk-text-small uk-margin-small uk-button-text"
          data-uk-toggle="target: #confirmForm, #loginForm; animation: uk-animation-fade"><span
            data-uk-icon="arrow-left"></span> {{i18n/backToLogin}}</a>
      </div>
    </form>
    <!-- /confirm code -->
  </div>

  <div id="notice" class="uk-overlay uk-position-bottom uk-light" hidden>
    <h1>{{i18n/success}}</h1>
    <p>
      {{{i18n/successDescriptionLogin}}}
    </p>
  </div>
</div>

<script type="text/javascript">
  var recaptchaEnabled = {{{ enableRecaptcha }}}
  var publicKey = {{{ publicKey }}}
</script>

<script type="text/javascript">
  var RSAEncrypt = new JSEncrypt()
  RSAEncrypt.setKey(publicKey)
  $(document).ready(function () {
    if (window.history.length != 1) $("#wrapper").append('<div id="back"><a onclick="window.history.back()" class="uk-icon-button sl-icon-back" uk-icon="icon: arrow-left; ratio: 1.5"></a></div>')
    $("#external").attr("href", "native://browser?url=" + encodeURIComponent(window.location.href + "?user_id=&token=" + parseQueryString(headers.authorize).token))
    if (window.location.href.split("?")[1] && parseQueryString(window.location.href.split("?")[1]).recovery) {
      var toggle = UIkit.toggle("#loginForm", {
        target: "#loginForm, #confirmForm",
        animation: "uk-animation-fade"
      })
      toggle.toggle()
      toggle.$destroy()
      sendNotification("{{i18n/mailSuccess}}", "success")
    }
  })

  function disableButtons() {
    $(".uk-button").attr("disabled", true)
    $("#back").fadeOut(200)
  }

  function enableButtons() {
    $(".uk-button").attr("disabled", false)
    $("#back").fadeIn(200)
  }

  function doLogin() {
    var login = $("#login").val()
    var pass = $("#password").val()

    if (pass.length === 0) return sendNotification("{{i18n/passwordBlank}}", "warning")
    if (pass.length > 32) return sendNotification("{{i18n/passwordLimit}}", "warning")
    if (!checkPass(pass)) return sendNotification("{{i18n/passwordInvalidFormat}}", "warning")

    disableButtons()
    function send(token) {
      $.when(sendRequest({
        module: "{{{module}}}",
        action: "login",
        login: RSAEncrypt.encrypt(xor(login, parseQueryString(headers.authorize).token)),
        password: RSAEncrypt.encrypt(xor(pass, parseQueryString(headers.authorize).token)),
        recaptcha: token || "",
        timestamp: Math.floor(Date.now() / 1000)
      })).done(function (response) {
        if (response.error || response.maintenance || !response) return
        if ("{{{redirect}}}".length != 0) {
          window.location.replace(window.location.protocol + "//" + window.location.host + "/{{{redirect}}}")
        } else {
          UIkit.toggle("#loginForm", {
            target: "#loginForm, #notice",
            animation: "uk-animation-fade"
          }).toggle()
        }
      }).fail(function () {
        enableButtons()
      })
    }
    if (recaptchaEnabled === true) {
      grecaptcha.ready(function () {
        grecaptcha.execute("{{siteKey}}", { action: "login" }).then(function (token) {
          send(token)
        })
      })
    } else {
      send()
    }
  }

  function recoverPassword() {
    var mail = $("#mail").val()
    if (!checkMail(mail)) return sendNotification("{{i18n/mailInvalidFormat}}", "warning")

    disableButtons()
    function send(token) {
      $.when(sendRequest({
        module: "login",
        action: "passwordRecovery",
        mail: mail,
        recaptcha: token || "",
        timestamp: Math.floor(Date.now() / 1000)
      })).done(function (response) {
        if (response.error || response.maintenance || !response) return

        if (!external) {
          window.location.replace("native://browser?url=" + encodeURIComponent(window.location.href + "?recovery=true&user_id=&token=" + parseQueryString(headers.authorize).token))
        } else {
          var toggle = UIkit.toggle("#loginForm", {
            target: "#recoverForm, #confirmForm",
            animation: "uk-animation-fade"
          })
          toggle.toggle()
          toggle.$destroy()
          sendNotification("{{i18n/mailSuccess}}", "success")
        }
      }).always(function () {
        enableButtons()
      })
    }

    if (recaptchaEnabled === true) {
      grecaptcha.ready(function () {
        grecaptcha.execute("{{siteKey}}", { action: "login" }).then(function (token) {
          send(token)
        })
      })
    } else {
      send()
    }

  }

  function confirmCode() {
    var code = $("#code").val()

    if (!checkPass(code) || code.length != 10) return sendNotification("{{i18n/confirmationCodeInvalidFormat}}", "warning")

    disableButtons()
    $.when(sendRequest({
      module: "login",
      action: "codeVerify",
      code: code,
      timestamp: Math.floor(Date.now() / 1000)
    })).done(function (response) {
      if (response.error || response.maintenance || !response) return
      var toggle = UIkit.toggle("#loginForm", {
        target: "#loginForm, #confirmForm",
        animation: "uk-animation-fade"
      })
      toggle.toggle()
      toggle.$destroy()
      sendNotification("{{i18n/passwordResetSuccess}}", "success")
    }).always(function () {
      enableButtons()
    })
  }
</script>